[submodule "trikey_description"]
	path = trikey_description
	url = https://github.com/carlosiglezb/trikey_description.git
[submodule "trikey_control"]
	path = trikey_control
	url = https://github.com/carlosiglezb/trikey_control.git
[submodule "trikey_gazebo"]
	path = trikey_gazebo
	url = https://github.com/carlosiglezb/trikey_gazebo.git
[submodule "bumpybot_teleop"]
	path = bumpybot_teleop
	url = https://github.com/carlosiglezb/bumpybot_teleop.git
[submodule "trikey_base_controller"]
	path = trikey_base_controller
	url = https://github.com/carlosiglezb/trikey_base_controller.git
[submodule "bumpybot_hardware_interface"]
	path = bumpybot_hardware_interface
	url = https://github.com/carlosiglezb/bumpybot_hardware_interface.git
[submodule "bumpybot_navigation"]
	path = bumpybot_navigation
	url = https://github.com/dokkev/bumpybot_navigation.git
