[submodule "trikey_description"]
	path = trikey_description
	url = https://github.com/carlosiglezb/trikey_description.git
[submodule "trikey_control"]
	path = trikey_control
	url = https://github.com/carlosiglezb/trikey_control.git
[submodule "trikey_gazebo"]
	path = trikey_gazebo
	url = https://github.com/carlosiglezb/trikey_gazebo.git
