#!/usr/bin/env python

PACKAGE = "bumpybot_torque_contact"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enable_low_pass", bool_t, 0, "Enable low-pass filtering.", False)
gen.add("low_pass_window_size", int_t, 0, "Window length for LPF.", 50, 1, 500)

gen.add("enable_downsampling", bool_t, 0, "Enable downsampling.", False)
gen.add("downsample_factor", int_t, 0, "Downsample factor", 5, 1, 50)

gen.add("T_MIN", double_t, 0, "Threshold below which values become 0", 0.0)
# Per-channel permutation, same style as TorqueDataFilter
gen.add("perm0", int_t, 0, "Permutation index 0 (0..2)", 2, 0, 2)
gen.add("perm1", int_t, 0, "Permutation index 1 (0..2)", 1, 0, 2)
gen.add("perm2", int_t, 0, "Permutation index 2 (0..2)", 0, 0, 2)

exit(gen.generate(PACKAGE, "bumpybot_torque_contact", "EncoderFilter"))
