#!/usr/bin/env python
PACKAGE = "bumpybot_torque_contact" 

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add('F_MIN', double_t, 0, "Minimum detectable Force [Newtons]", 0.5,0.0,10 )
gen.add("mass", double_t, 0, "Mass", 30, 15, 200)
gen.add("roller_damping_Br", double_t, 0, "Roller damping Br", 0.2, 0.01, 1)
gen.add("R", double_t, 0, "Wheel-to-Center", 0.248195487469, 0.01, 0.5)

gen.add("enable_outlier_rejection", bool_t, 0, "Enable median-based outlier rejection", True)
gen.add("outlier_threshold_ratio", double_t, 0, "Reject force if |F| > ratio * median(|F|)", 2.0, 0.0, 100.0)
gen.add("outlier_window_size", int_t, 0, "Number of past force samples for median", 5, 1, 100)
gen.add("enable_outlier_reset", bool_t, 0, "If true, reset to last valid contact/force when outlier detected", False)
exit(gen.generate(PACKAGE, "trikey_jacobian", "Jacobian"))
