#!/usr/bin/env python
PACKAGE = "bumpybot_torque_contact" 

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("mass", double_t, 0, "Mass", 30, 15, 200)
gen.add("roller_damping_Br", double_t, 0, "Roller damping Br", 0.2, 0.01, 1)
gen.add("TractionTorque", double_t, 0, "Traction Torque", 1, 0.01, 1)
gen.add("wheel_inertia_iw", double_t, 0, "Wheel inertia", 1, 0.01, 1)
gen.add("roller_inertia_ir", double_t, 0, "Roller inertia", 1, 0.01, 1)
gen.add("body_inertia_ib", double_t, 0, "Body inertia", 1, 0.01, 1)

exit(gen.generate(PACKAGE, "trikey_jacobian", "Jacobian"))
