#!/usr/bin/env python
PACKAGE = "bumpybot_torque_contact" 

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Enable/Disable the downsampling filter.
gen.add("enable_downsampling", bool_t, 0, "Enable downsampling filter", False)

# Downsampling factor (number of samples averaged before publishing).
gen.add("downsample_factor", int_t, 0, "Downsampling factor", 3, 1, 1000)

# Enable/Disable the low pass filter.
gen.add("enable_low_pass", bool_t, 0, "Enable low pass filter", True)

# Low pass filter window size (number of samples).
gen.add("low_pass_window_size", int_t, 0, "Low pass filter window size", 50, 1, 500)

# Duration for calculating offset window (seconds).
gen.add("zeroing_duration", double_t, 0, "Offset calculation duration (s)", 1.5, 0.1, 500.0)
gen.add("T_MIN", double_t, 0,  "Minimum absolute output to publish (else zero)",     0.1,    0.0,    5.0) 
exit(gen.generate(PACKAGE, "torque_data_filter", "TorqueDataFilter"))
