#!/usr/bin/env python
PACKAGE = "bumpybot_torque_contact" 

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Enable/Disable the downsampling filter.
gen.add("enable_downsampling", bool_t, 0, "Enable downsampling filter", False)

# Downsampling factor (number of samples averaged before publishing).
gen.add("downsample_factor", int_t, 0, "Downsampling factor", 3, 1, 1000)

# Enable/Disable the low pass filter.
gen.add("enable_low_pass", bool_t, 0, "Enable low pass filter", True)

# Low pass filter window size (number of samples).
gen.add("low_pass_window_size", int_t, 0, "Low pass filter window size", 50, 1, 500)

# Duration for calculating offset window (seconds).
gen.add("zeroing_duration", double_t, 0, "Offset calculation duration (s)", 1.5, 0.1, 500.0)
gen.add("T_MIN", double_t, 0,  "Minimum absolute output to publish (else zero)",     0.1,    0.0,    5.0) 

gen.add("m00", double_t, 0, "Gain(0,0)", -2.60724283168311)
gen.add("m01", double_t, 0, "Gain(0,1)", 183.734058490264)
gen.add("m02", double_t, 0, "Gain(0,2)", -1.12447714975234)

gen.add("m10", double_t, 0, "Gain(1,0)", 1.83258025236275)
gen.add("m11", double_t, 0, "Gain(1,1)", 0.572449638693392)
gen.add("m12", double_t, 0, "Gain(1,2)", 157.062364542762)

gen.add("m20", double_t, 0, "Gain(2,0)", 186.701437993996)
gen.add("m21", double_t, 0, "Gain(2,1)", 2.32264387372807)
gen.add("m22", double_t, 0, "Gain(2,2)", -2.68006969627485)

gen.add("perm0", int_t, 0, "Permutation index for channel 0", 2, 0, 2)
gen.add("perm1", int_t, 0, "Permutation index for channel 1", 1, 0, 2)
gen.add("perm2", int_t, 0, "Permutation index for channel 2", 0, 0, 2)



exit(gen.generate(PACKAGE, "torque_data_filter", "TorqueDataFilter"))
