#!/usr/bin/env python
PACKAGE = "bumpybot_torque_contact" 

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("wheel0_torque_scalar", double_t, 0, "Wheel 0 torque scalar", 2.0, 0.001, 100000.0)
gen.add("wheel1_torque_scalar", double_t, 0, "Wheel 1 torque scalar", 1.0, 0.001, 100000.0)
gen.add("wheel2_torque_scalar", double_t, 0, "Wheel 2 torque scalar", 1.0, 0.001, 100000.0)
# Enable/Disable the Hampel filter.
gen.add("enable_hampel", bool_t, 0, "Enable Hampel filter", False)

# Hampel filter window size (preferably an odd number).
gen.add("hampel_window_size", int_t, 0, "Hampel filter window size (odd number)", 211, 1, 1000)

# Hampel filter threshold factor.
gen.add("hampel_k", double_t, 0, "Hampel filter threshold factor", 2.0, 0.1, 10.0)

# Enable/Disable the low pass filter.
gen.add("enable_low_pass", bool_t, 0, "Enable low pass filter", True)

# Low pass filter window size (number of samples).
gen.add("low_pass_window_size", int_t, 0, "Low pass filter window size", 5, 1, 100)

# Time without movement to trigger averaging (seconds).
gen.add("non_movement_time", double_t, 0, "Time (s) without movement to trigger averaging", 5.0, 0.1, 30.0)

# Duration for averaging after non-movement (seconds).
gen.add("zeroing_duration", double_t, 0, "Averaging duration (s) after non-movement", 2.0, 0.1, 30.0)

# Velocity threshold below which the joint is considered stationary.
gen.add("velocity_threshold", double_t, 0, "Velocity threshold (stationary)", 0.001, 0.0001, 1.0)

exit(gen.generate(PACKAGE, "torque_data_filter", "TorqueDataFilter"))
